# Dotenv
.env

# Composer
/vendor
!vendor/.gitkeep

# Eclipse project files
.classpath
.project
.settings/

# Intellij project files
*.iml
*.ipr
*.iws
.idea/

# WP Plugins
web/app/object-cache.php
web/app/advanced-cache.php